<head>
<style>
	title {
		color: orange;
		font-family: 'Bitter', serif;;
	}
	h1 {	
		color: white;
		font-family: 'Bitter', serif;;
	}
	body{
		background-color: purple;
	}
	form {
		color: yellow;
		font-family: 'Bitter', serif;;
	}

</style>
</head>
